@model web.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCamiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCamiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadEnToneladas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadEnToneladas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cumplido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cumplido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedidoEnToneladas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedidoEnToneladas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoDePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoDePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTonelada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTonelada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grano.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Cuit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
